# 分散分析 お試しver.

In [3]:
dat <- read.csv("input/ch06one-way.csv", header=TRUE, fileEncoding="CP932")

In [2]:
dat

   Class Score
1  1     76
2  1     54
3  1     62
4  1     46
5  1     53
6  1     64
7  1     42
8  1     96
9  1     87
10 1     92
11 1     89
12 1     63
13 1     39
14 1     30
15 1     85
16 1     31
17 1     60
18 1     63
19 1     94
20 1     29
21 1     47
22 1     53
23 1     33
24 1     56
25 1     46
26 1     97
27 1     54
28 1     43
29 1     79
30 2     56
⋮  ⋮     ⋮
58 2     65
59 3     57
60 3     39
61 3     84
62 3     63
63 3     84
64 3     54
65 3     86
66 3     50
67 3     93
68 3     30
69 3     63
70 3     66
71 3     46
72 3     35
73 3     98
74 3     86
75 3     85
76 3     73
77 3     98
78 3     99
79 3     39
80 3     50
81 3     87
82 3     67
83 3     57
84 3     80
85 3     92
86 3     41
87 3     82

In [4]:
dat$Class <- factor(dat$Class)

In [5]:
table(dat$Class)                    # 各グループの人数確認
tapply(dat$Score, dat$Class, mean)  # 各グループの平均
tapply(dat$Score, dat$Class, sd)    # 各グループの標準偏差

 1  2  3
29 29 29

       1        2        3
60.79310 64.06897 68.41379

       1        2        3
21.47154 20.39771 21.29808

In [ ]:
install.packages("psych")

In [7]:
# psychパッケージを利用する場合
library(psych)
describe.by(dat$Score, list(dat$Class))

also installing the dependencies ‘tmvnsim’, ‘mnormt’


Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Warning message:
“describe.by is deprecated.  Please use the describeBy function”

 Descriptive statistics by group
: 1
   vars  n  mean    sd median trimmed   mad min max range skew kurtosis   se
X1    1 29 60.79 21.47     56   60.44 20.76  29  97    68 0.28    -1.23 3.99
------------------------------------------------------------
: 2
   vars  n  mean   sd median trimmed   mad min max range  skew kurtosis   se
X1    1 29 64.07 20.4     64   64.28 26.69  29  95    66 -0.02    -1.39 3.79
------------------------------------------------------------
: 3
   vars  n  mean   sd median trimmed   mad min max range  skew kurtosis   se
X1    1 29 68.41 21.3     67   68.88 26.69  30  99    69 -0.19    -1.38 3.95